
//
// FONT IMPORTS
//

@font-face {
  font-family: Contra;
  src: url("./fonts/CONTRA__.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


//
// VARIABLES
//

// Colors
$blue: #417f9a;
$red: #9a4152;
$green: #5cba79;
$brown: #746153;
$tan: #c09f80;

// Grays
$black: #373737;
$darkerGray: #2a2a2a;
$darkGray: #444444;
$gray: #5d5d5d;
$lightGray: #f3f0ee;
$white: #fff;

// Font stacks
$headerText: Contra;
$helvetica: Helvetica, Arial, sans-serif;
$sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}